body{
    margin: 0%;
        width: 100%;
    .parallax{
        background-image: url(https://images.unsplash.com/photo-1764708844823-00d2188dafd8?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
        height: 100%;
        padding: 0%;
        margin: 0%;
        width: 100%;
        /* display: flex; */

        background-attachment: fixed;
        background-position: center;
        background-repeat: repeat;
        background-size: cover;
    }
    .blackbox{
        height: 360px;
        background-color: black; 
        margin: 0%;
        width: 100%;
        /* color: darkseagreen;  */
        /* font-size: 38px;  */
        /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  */
        /* text-align: center;  */
        /* vertical-align: middle; */
    }
    .text{
        /* height: 420px; */
        /* background-color: black;  */
        color: darkseagreen; 
        font-size: 27px; 
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
        text-align: center; 
        vertical-align: middle;
        padding: 8%;
    }
}